<h1>Edit Dinos</h1>

<form action="/tindersaurus/<%= tindersaurus.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="tinder_name">Name</label>
  <input type="text" name="tinder[name]" id="tinder_name" value="<%= tinder.name %>">

  <label for="tinder_age">Age</label>
  <input type="number" name="tinder[age]" id="tinder_age" value="<%= tinder.age %>">

  <label for="tinder_species">Species</label>
  <input type="text" name="tinder[species]" id="tinder_species" value="<%= tinder.species %>">

  <label for="tinder_image">Picture</label>
  <input type="text" name="tinder[image]" id="tinder_image" value="<%= tinder.image %>">

  <label for="tinder_population">Pop</label>
  <input type="text" name="tinder[population]" id="tinder_population" value="<%= tinder.population %>">

  <label for="tinder_foodType">Foods</label>
  <input type="text" name="tinder[foodType]" id="tinder_foodType" value="<%= tinder.foodType %>">

  <button>Update</button>
</form>
